<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pendu</title>
    <style>
        .live {
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: black;
            margin: 5px;
            float: left;
        }

        .letter {
            float: left;
            font-size: 40px;
        }

        .row {
            overflow: hidden;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div id="app">
    <div v-if="gameState === 0">
        <div class="row">
            <div class="letter" v-for="letter in displayWord">{{ letter }}&nbsp;</div>
        </div>
        <div class="row" v-if="lives > 0">
            <div class="live" v-for="live in lives"></div>
        </div>
        <button v-for="letter in alphabet" :disabled="used(letter)" @click="tryLetter(letter)">{{ letter }}</button>
    </div>
    <div v-else-if="gameState === -1"><h1>Perdu</h1>
        <button @click="startGame">Recommencer</button>
    </div>
    <div v-else><h1>Gagné</h1>
        <button @click="startGame">Recommencer</button>
    </div>
</div>
<script src="vue.js"></script>
<script>
  new Vue({
    el: "#app",
    data: () => ({
      words: ["laravel", "symfony"],
      word: "",
      alphabet: "abcdefghijklmnopqrstuvwxyz",
      useds: "",
      lives: 0
    }),
    methods: {
      startGame() {
        this.lives = 5;
        this.word = this.words[Math.floor(Math.random() * this.words.length)];
        this.useds = ""
      },
      tryLetter(letter) {
        if (this.word.indexOf(letter) === -1) {
          this.lives--
        }
        this.useds += letter;
      },
      used(letter) {
        return this.useds.indexOf(letter) > -1
      }
    },
    computed: {
      displayWord() {
        return this.word.split("").map(letter => this.used(letter) ? letter : "_").join("")
      },
      gameState() {
        if(this.lives <= 0){
          return -1
        }
        for (const letter in this.word){
          if(!this.used(this.word[letter])){
            return 0
          }
        }
        return 1
      }
    },
    mounted() {
      this.startGame()
    }
  })
</script>
</body>
</html>
